<h4 id="nombreUsuario"></h4>
<form id="formulario">
    <input type="text" name="mensaje" id="mensaje">
    <input type="submit" value="enviar">
</form>
<p id="chatParrafo"></p>
<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


<script src="index.js"></script>
